@import url('https://fonts.googleapis.com/css?family=Montserrat');

:root {
    --mainBlack: #000;
    --mainWhite: #fff;
    --darkGray: #262626;
    --lightGray: #666;
    --theTransition: all 0.3s linear;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
}

h1,
h2,
h3,
h4 {
    letter-spacing: 3px;
}

